<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <title>
    Li-lab
  </title>
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1> Li-lab </h1>
        
        <p> <b> 干细胞分化发育与疾病的表观遗传调控研究组 </b> </p>
        

        <img src="https://www.test-test.cn/lilab/source/SHSMU.jpg" alt="Logo" width="280"/>     
        
        <p><small> 上海交通大学医学院 </br> 基础医学院-组织胚胎学与遗传发育学系 </small></p>
        
        <p> </p>

        <p class="view">▸ <a href="/lilab/#研究方向">研究方向</a></p>
        <p class="view">▸ <a href="/lilab/#人员介绍">人员介绍</a></p>
        <p class="view">▸ <a href="/lilab/#成果列表">成果列表</a></p>     
         
      </header>
      
      <section>

      {{ content }}

      </section>
      
      <footer>
        
        <p><small><a href="https://github.com/fzhang-sjtu/lilab/">Site Code</a></small></p>
        
      </footer>
    </div>
 
  </body>
</html>
